body {
    padding: 10px;
    background-color: #F2F4F5FF;
}

h2 {
    margin-bottom: 25px;
}

div .lot {
    height: 160px; 
    width: 855px; 
    background-color: #D8DFE0FF; 
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;  
    position: relative;
}

div .picture {
    width: 200px;
    height: 100%;
    flex-shrink: 0;    
    overflow: hidden;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.item-content {
  flex: 1;
  padding: 10px;
}

div .active-bar {
    position: absolute;
    right: 15px;
    top: 5px;
}
