{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lot #{{ lot.id }}</title>
    <link rel="stylesheet" href="{% static 'auctions/styles_lot.css' %}">
</head>
<body>

<a class="back_button" href="{% url 'index' %}">❮ Back to Listings</a>

<div class="page">

    <!-- LEFT COLUMN -->
    <div class="lot-main">

        <h1 class="lot-title">{{ lot.name }}</h1>

        <div class="gallery">
            <div class="main-image">
                <img src="{{ lot.image_url|default:lot.category.default_image }}" alt="Picture">
            </div>
        </div>

        <div class="lot-description">
            <h3>Description</h3>
            <p>
                {{ lot.description }}
            </p>
        </div>

    </div>

  <!-- RIGHT COLUMN -->
    <div class="bid-panel">

        <div class="price-block">
            <div class="label">Starting price</div>
            <div class="price">{{ lot.starting_price }}</div>
        </div>

        <div class="price-block">
            <div class="label">Current bid:</div>
                <div class="price">{{ lot.current_bid.amount|default:"None" }}</div>
        </div>

        <div class="bids-info">
            <span>Total bids: {{ bids }}</span>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class ="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="bid-form">
            <form action="{% url 'bid' lot.id %}" method="post">
            {% csrf_token %}
                <input name="bid_amount" type="number" placeholder="Enter your bid:" step="0.01">
                <input type="submit">
            </form>
        </div>

    </div>

    <div class="watchlist">
        <form action="{% url 'watchlist' lot.id %}" method="post">
            {% csrf_token %}

            {% if lot not in user.watchlist.all %}
                <button type="submit" class="heart-btn">
                    <span class="tooltip">Subscribe</span>
                    ♥
                </button>
            {% else  %}
                <button type="submit" class="heart-btn active">
                    <span class="tooltip">Unsubscribe</span>
                    ♥
                </button>
            {% endif %}
        </form>
    </div>
    
    {% if lot.is_active %}
        <div class="close-form">
            <form action="{% url 'close' lot.id %}" method ="post">
                {% csrf_token %}

                {% if user == lot.owner %}
                    <button type="submit" class="close-btn">
                        Close Listing
                    </button>
                {% endif %}
            </form>
        </div>
    {% endif %}

    {% if messages.tags == 'success' %}
        {% for message in messages %}
            <div class="overlay">
                <input type="checkbox" id="close-popup" class="close-input">
                <div class="popup">
                    <label for="close-popup" class="close-btn">&times;</label>
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="comments-section">
    <h2>Comments</h2>

    <div class="comments-list">
        {% for comment in comments %}
            <div class="comment">
                <div class="comment-header">
                    <span class="author">{{ comment.owner }}</span>
                    <span class="date">{{ comment.timestamp }}</span>
                </div>
                <div class="comment-body">
                    {{ comment.content }}
                </div>
            </div>
        {% endfor %}

    <form class="comment-form" action="{% url 'comment' lot.id %}" method="post">
    {% csrf_token %}
        <textarea placeholder="Write your comment..." rows="3" name="comment_text"></textarea>
        <button type="submit">Post Comment</button>
    </form>
</div>

</body>
</html>